
.main1 {
    width: 20%;
    border: 2px solid rgb(97, 97, 97);
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    float: left;

    #a1{
        color: green;
    }
    img{
        height: 40px;
        width: 90px;
    }
}

.main2 {
    width: 80%;
    display: inline-block;

    .a3{
        background-color: silver;
        padding: 10px;

        .a4{
            float: right;
        }
        .a5
        
        input{
            padding: 12px;
            border: none;
            width: 20%;
            border-radius: 5px;
        }
    }

}

.s2{
    padding: 20px;
    .a6{
        float: right;
        padding: 9px;
       select{
        border-radius: 5px;
        padding: 5px;
       } 
    }
}

.a2{
    a{
        display: block;
        padding: 5px;
    }
    a:hover {
        background-color: #87dbff;
        color: black;
        border-radius: 5px;
        border: none;
        padding: 4px;
    }
}
    .b1 {
         margin-left: 36px;
         margin-top: 80px;
        border: 1px solid black;
        width: 17%;
        height: 45vh;
        display: inline-block;
        padding: 20px;

        img {
            margin-left: 30px;
            align-items: center;
            
        }

        p {
            background-color: red;
            color: white;
            padding: 4px;
            width: 35px;
            border-radius: 6px;
        }

        .c1 {

            background-color: green;
            width: 35px;
            border-radius: 6px;
            
        }
    }

    .f1 {

        line-height: 0;

        button {
            float: right;
            background-color: green;
            border-radius: 6px;
            padding: 5px;
            color: white;
            margin-top: 20px;
        }
    }
