* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.mainimg {
  background-image: url(https://www.shambhuscoffeebar.com/images/banner1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;



  .nav {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    :hover {
      color: orange;
    }

    ul {
      display: flex;
      gap: 20px;
      list-style: none;
    
    }

    a {
      text-decoration: none;
      color: rgb(223, 223, 223);
    }

    img {
      width: 200px;
    }
  }

  .social-icons i {

    font-size: 18px;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 5px;

    @media screen and (max-width:992px) {
      order: 1;

    }

  }
}


.mid1 {
  padding: 50px;
  display: flex;

  .txt {
    width: 40%;
    margin-top: 30px;
    text-align: center;

    button {
      margin-top: 20px;
      padding: 5px;
      background-color: #E27900;
      color: white;
      font-size: larger;
      border: none;

    }
  }

  .main2 {

    padding-left: 200px;
    background-image: url(https://www.shambhuscoffeebar.com/images/home/info/info-bg.jpg);
    background-repeat: no-repeat;
    background-position: right center;


    .img1 {

      width: 30%;

      :nth-child(2) {
        margin-top: -70px;
      }
    }

  }
}

.mid2 {
  padding: 40px;
  display: flex;
  width: 100%;

  .txt2 {
    max-width: 100%;
    

    img {

      width: 25%;
    }


  }

  .img2 {
    width: 100%;

    
    .frame {
      border: 10px solid hsl(32, 38%, 84%);
      display: grid;
      grid-template-columns: auto auto; 
      max-width: 400px;
      
    }

    .frame img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

.section {
  display: flex;
  flex-wrap: wrap;  
  padding: 60px;
  align-items: center;
  justify-content: space-around;
 
}

.images {
  position: relative;
  width: 200px;
  height: 300px;
}

.images img {
  max-width: 100%;
  height: auto;
  position: absolute;
  object-fit: cover;

}

.images img:first-child {
  top: 30px;
  left: 0;
  z-index: 2;
}

.images img:last-child {
  top: 0;
  left: 100px;
  z-index: 1;
}

.text {
  max-width: 50%;

}

.text h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.text p {
  color: #555;
}

h1 {
  text-align: center;
}

.menu {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;

  .menu-img {
    img {

      width: 49.5%;
    }
  }

}

.dilivery {
  text-align: center;
  padding: 20px;

  img {
    width: 15%;
  }
}

.section1 {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5%;
  background: #fff;
}

.left-image {
  text-align: center;

  img {
    width: 90%;
    max-width: 400px;
  }
}

.right-text {
  flex: 1 1 400px;
  padding: 20px;

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
  }

}

.right-text {

  ul {
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 10px;
    }
  }
}



.quote {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section1 {
    flex-direction: column;
    text-align: center;
  }

  .right-text {
    padding: 20px 10px;
  }

  .right-text h2 {
    font-size: 20px;
  }
}


.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 35px;
  padding: 70px;
  padding-top: 90px;

}

.product {
  background: white;
  display: flex;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.details {
  flex: 1;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.subtitle {
  font-size: 14px;
  color: gray;
  margin: 5px 0;
}

.price {
  font-weight: bold;
}

.btn {
  padding: 6px 14px;
  background-color: #a52a2a;
  color: white;
  border: none;
  border-radius: 10px;

}

.btn:hover {
  background-color: #800020;
}



.footer {
  background-image: url(https://www.shambhuscoffeebar.com/images/shambhuscoffeebar-bg.jpg);
  background-size: cover;
  color: rgb(235, 235, 235);
  padding: 40px 20px;
  background-repeat: no-repeat;

  hr {
    border: 1px solid rgba(248, 248, 248, 0.9);
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.footer-box {
  flex: 1 1 300px;
  margin-bottom: 20px;

  h3 {

    margin-bottom: 15px;
  }
}


.footer-box {

  p {
    line-height: 30px;
  }

  ul {
    li {
      margin-bottom: 8px;
      list-style: none;
    }

    a {
      color: white;
      text-decoration: none;

    }
  }

}

.social-icons img {
  margin-top: 10px;
  padding: 5px;
  vertical-align: middle;
  background-color: white;
  border-radius: 5px;
}


footer {
  .copyright {
    color: rgb(254, 254, 254);
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
}



@media screen and (max-width:992px) {


  .nav {
    ul {
      li {
        display: none;
      }
    }

    .social-icons {
      order: 1;

    }
  }

  .mid1{
    .txt{
      width: 100%;
    }
  }

  .mid2{
    flex-direction: column;
    .txt2{

      font-size: 15px;
      flex-wrap: wrap;
      order: 2;     
    }
  }

}




@media screen and (max-width:768px) {
  .nav {
    flex-direction: column;

  }

  .social-icons {
    order: 1;
    margin-bottom: 10px;
  }

  img {
    order: 2;
  }


  .mid1 {
    .txt {
      order: 2;
      text-align: center;
      justify-content: center;
      align-items: center;
    }


    flex-direction: column;

    .main2 {
      .img1 {

        img {
          max-width: 140px;


        }
      }
    }
  }

  .section{
    
    .text{
      max-width: 100%;
    }
  }

  .dilivery{
    img{
      max-width: 100%;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .product {
    flex-direction: column;
    text-align: center;
  }


}

@media (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: auto auto;
  }

  .product {
    flex-direction: column;
    text-align: center;
  }

}
