* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: "Amazon Ember", Arial, sans-serif;

}

.main1 {

    padding-left: 70px;
    top: 0;
    position: sticky;



}

.nav {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 30px;
    /* background-color: rgb(172, 164, 164); */
    font-size: 18px;
    padding-top: 30px;
    width: 90%;
    height: 15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color: rgb(20, 30, 52, 0.70);
    backdrop-filter: blur(10px) saturate(70%);


    hr {
        height: 20px;
    }

}

.b1 {
    a {
        
        padding: 10px;
        text-decoration: none;
        color: white;
        /* padding-left: 30px; */

        &&:hover {
            background-color: white;
            color: black;
            border-radius: 5px;
           
        }
    }
}

.b2 {
    a {
        padding: 15px;
        color: white;
        text-decoration: none;
        padding-left: 20px;
        &&:hover {
                background-color: white;
                color: black;
                border-radius: 5px;
               
            }
    }
}

.b3 {


    a {
        color: white;
        text-decoration: none;
        padding-left: 8px;
        align-items: center;

    }

    .icon {
        span {
            color: white;
        }

        display: flex;
        align-items: center;
        padding: 14px;


    }

    &&:hover {
        background-color: white;
        /* color: black; */
        border-radius: 10px;

    }

    .icon:hover span,
    .icon:hover a {
        background-color: white;
        color: black;
        border-radius: 10px;

    }

}


.b4 {
    color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 110px;

    .material-symbols-outlined{
        padding: 5px;
        &&:hover {
                background-color: white;
                color: black;
                border-radius: 35px;
               
            }
        
    }



    .dd1{
        position: relative;
        width: 50px;


        a {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            padding-left: 5px;

            &&:hover {
                border-radius: 5px;
                width: 50px;
                padding: 7px;
                background-color: white;
                color: black;

            }
        }

        .boxmenu::after {
            /* background-color: aquamarine; */
            position: absolute;
            content: "";
            margin-top: -10px;
            right: -30px;
            height: 23px;
            width: 90px;
            top: 45px;

        }

        .menu {
            position: absolute;
            top: 60px;
            right: -320px;
            flex-direction: row;
            display: none;
            border-radius: 10px;
        }
    }

    .dd1:hover .menu {
        flex-wrap: nowrap;
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
        /* backdrop-filter: blur(10px) saturate(70%); */

    }


    .txt {
        list-style: none;
        padding: 20px;
        white-space: nowrap;
    }

    .txt li {
        display: block;
        padding: 5px;
        margin: 15px 10px;
        font-family: sans-serif;
        color: white;
        /* text-align: center; */

    }

    .txt li span:hover {
        /* display: inline-block; */
        padding: 5PX 10PX;
        border-radius: 5px;
        background-color: white;
        color: black;
    }


    .imge {
        
        position: relative;


        img {
            /* padding: 5px; */


            &&:hover {
                background-color: white;
                border-radius: 50%;
                /* border: 2px solid rgb(243, 243, 243); */
            }
        }

        .dd2 {
            position: absolute;
            border-radius: 15px;
            display: none;
            background-color: rgba(0, 0, 0, 0.70);

            p:hover {
                background-color: white;
                color: black;
                border-radius: 10px;
            }

            width: 180px;
            padding: 20px;

            P {
                padding: 20px;
                color: white;

            }

        }
    }

    .imge:hover .dd2 {
        display: block;

    }

    .button {
        button {
            padding: 14px;
            width: 110px;
            background-color: #4b9ae9;
            border-radius: 9px;
            font-size: 16px;
            color: white;
        }
    }
}

.b6{
    padding: 8px;
    &&:hover {
                background-color: white;
                color: black;
                border-radius: 40px;
               
            }

}

.img1 {
    background-image: linear-gradient(to right, black 50%, transparent 58%), url(https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg);
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;


}

.text1 {
    /* font-family: "Amazon Ember", Arial, sans-serif; */
    padding: 80px;

    h1 {
        color: white;
        font-size: 50px;
    }

    p {
        color: white;
        padding-top: 40px;
        font-size: 20px;

    }

    button {
        height: 60px;
        text-align: center;
        border-radius: 10px;
        margin-top: 50px;
        font-size: 22px;
        padding: 15px;
        background-color: white;
        color: #222222;

        &&:hover{
          transform: scale(1.060);
        }

    }
}

.img2 {
    background-image: linear-gradient(to right, black 50%, transparent 58%), url(https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Right.jpg);
    height: 100vh;

    .text2 {
       
        padding: 80px;

        h1 {
            color: white;
            font-size: 50px;
        }

        p {
            color: white;
            padding-top: 40px;
            font-size: 20px;

        }

        button {
            height: 60px;
            text-align: center;
            border-radius: 10px;
            margin-top: 50px;
            font-size: 22px;
            padding: 15px;
            background-color: white;
            color: #222222;

            
        &&:hover{
          transform: scale(1.060);
        }

        }
    }
}


.f1 {
    display: flex;
    /* padding: 30px; */
    padding: 44px;

    .f2 {
        /* font-family: "Amazon Ember", Arial, sans-serif; */
        padding: 20px;
        width: 40%;
        color: white;

        h1 {
            font-size: 40px;
        }

        p {
            font-weight: bold;

            line-height: 25px;
        }
    }

    .f3 {
        /* font-family: "Amazon Ember", Arial, sans-serif; */
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15px;
        padding-left: 20%;

        div {
            border-radius: 25px;
            width: 210px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }

            img:hover {
                box-shadow: 0 0 0 0 silver, 0 6px 20px 0 silver;
            }
        }

    }

}


.footer {
    background-color: #222222;
    height: 20vh;
    align-items: center;
    text-align: center;
    line-height: 30px;

    p {
        color: #7e9099;
    }

    ol {
        gap: 30px;

        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
            text-decoration: none;
            color: rgb(135, 124, 195);

            &&:hover {
                color: blueviolet;
            }
        }
    }

    ol li {
        list-style: none;
        font-style: none;
        text-decoration: none;

    }

    img {
        padding-top: 12px;
    }
}